[submodule "zsh/zsh-vcs-prompt"]
    path = zsh/zsh-vcs-prompt
    url = https://github.com/yonchu/zsh-vcs-prompt.git
[submodule "zsh/zsh-dircolors-solarized"]
    path = zsh/zsh-dircolors-solarized
    url = https://github.com/joel-porquet/zsh-dircolors-solarized.git
