[submodule "zsh-nvm"]
	path = zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "catpuccin/ghostty"]
	path = catpuccin/ghostty
	url = https://github.com/catppuccin/ghostty
[submodule "catpuccin/zsh-syntax-highlighting"]
	path = catpuccin/zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting
[submodule "catpuccin/bat"]
	path = catpuccin/bat
	url = https://github.com/catppuccin/bat.git
[submodule "catpuccin/delta"]
	path = catpuccin/delta
	url = https://github.com/catppuccin/delta.git
