<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.hungarianpc</string>
	<key>CFBundleName</key>
	<string>HungarianPC</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>KLInfo_Hungarian - PC</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.hungarianpc.hungarian-pc</string>
		<key>TISIntendedLanguage</key>
		<string>hu-HU</string>
	</dict>
	<key>UkeleleInfo_Hungarian - PC</key>
	<dict>
		<key>Font</key>
		<string>LucidaGrande</string>
		<key>FontSize</key>
		<real>18</real>
	</dict>
</dict>
</plist>
