"*":
  "atom-beautify":
    css:
      convert_quotes: "double"
      force_indentation: true
      newline_between_rules: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "4d4c4d10-16ed-4dbb-a4ec-a2a4fa9c5ce4"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-next-italic"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    lineHeight: 1.7
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 2
  "exception-reporting":
    userId: "63d3b2b2-8ff2-3725-f780-682bc891f0f6"
  linter:
    errorPanelHeight: 25
    showErrorTabLine: true
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/Users/janosorcsik/.nvm/versions/node/v6.5.0"
    lintHtmlFiles: true
    useGlobalEslint: true
  "linter-htmlhint": {}
  pigments:
    markerType: "dot"
  "save-session":
    dataSaveFolder: "/Users/janosorcsik/.atom/packages/save-session/projects"
  "svg-preview":
    openPreviewAutomatically: true
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
