"*":
    core:
        themes: [
            "one-dark-ui"
            "spacegray-atom-dark-syntax"
        ]
    editor:
        fontFamily: "Monaco"
        fontSize: 12
        invisibles: {}
        lineHeight: 1.4
        scrollPastEnd: true
        showIndentGuide: true
        showInvisibles: true
        tabLength: 4
    linter:
        showErrorTabLine: true
    pigments:
        markerType: "dot"
    "svg-preview":
        openPreviewAutomatically: true
    "tabs-to-spaces":
        onSave: "untabify"
    "tree-view":
        hideIgnoredNames: true
        hideVcsIgnoredFiles: true
    welcome:
        showOnStartup: false
