'atom-text-editor':
    'ctrl-shift-c': 'block-comment:toggle'
'atom-workspace atom-text-editor':
    'ctrl-shift-right': 'editor:move-to-next-subword-boundary'
    'ctrl-shift-left': 'editor:move-to-previous-subword-boundary'
    'ctrl-d': 'editor:delete-line'
    'ctrl-alt-down': 'editor:duplicate-lines'
    'alt-up': 'editor:move-line-up'
    'alt-down': 'editor:move-line-down'
'atom-workspace atom-text-editor:not([mini])' :
    'shift-alt-up' : 'editor:add-selection-above'
    'shift-alt-down' : 'editor:add-selection-below'
