atom-text-editor,
atom-workspace {
    font-family: "Operator Mono";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
}

atom-panel.tool-panel {
    font-size: 0.88em;
}

.entity.other.attribute-name {
    font-style: italic;
}

atom-text-editor::shadow {
    .entity.other.attribute-name {
        font-style: italic;
    }

    .lines {
        .keyword.operator.arithmetic,
        .keyword.operator.assignment,
        .keyword.operator.comparison,
        .keyword.operator.logical,
        .keyword.operator.relational,
        .keyword.operator.spread,
        .punctuation.definition.comment,
        .type.arrow.function {
            font-family: "Fira Code Retina";
        }
    }

    .string.quoted,
    .string.regexp {
        -webkit-font-feature-settings: "liga" off, "calt" off;
    }

    .cursor {
        transition: opacity 0.5s;
    }

    .bracket-matcher .region {
        border: 1px solid rgba(222, 149, 54, 0.6);
        border-radius: 3px;
        background-color: rgba(255, 217, 0, 0.3);
        z-index: 100;
    }

    .wrap-guide {
        visibility: hidden;
    }
}

.tab-bar .tab.active {
    -webkit-flex: 1;
    flex: 1;
}

.tab-bar {
    .tab {
        max-width: initial;
    }
}

atom-text-editor::shadow pigments-markers::shadow pigments-color-marker.dot,
pigments-color-marker.dot,
pigments-markers::shadow pigments-color-marker.dot {
    transform: translate(-8px, -50%) scale(0.7);
}

.icon-file-directory::before {
    font-size: 14px;
}
