atom-text-editor,
atom-workspace {
    font-family: 'FiraCode-Retina';
    font-style: normal;
    text-rendering: optimizeLegibility;
}

atom-text-editor::shadow {
    .comment,
    .string.quoted,
    .string.regexp {
        -webkit-font-feature-settings: "liga" off, "calt" off;
    }

    .cursor {
        transition: opacity 1.6s;
    }

    .wrap-guide {
        visibility: hidden;
    }

    .bracket-matcher .region {
        border: 1px solid rgba(222, 149, 54, 0.6);
        border-radius: 3px;
        background-color: rgba(255, 217, 0, 0.3);
        z-index: 100;
    }

    .entity.other.attribute-name,
    .storage,
    .type .function,
    .variable.language.this {
        font-family: 'flottflott';
        font-size: 145%;
        line-height: 100%;
    }

    .css > .entity.other.attribute-name,
    .storage.type.function.arrow,
    .variable {
        font-size: 100%;
        font-family: 'FiraCode-Retina';
        font-style: normal;
    }

    .entity.name.method,
    .variable.other.readwrite.instance {
        color: #6699CC;
        font-weight: 500;
    }

    .string.unquoted {
        color: #CDD3DE;
    }

    .variable.other.constant {
        color: #FAC863;
    }

    .entity.name {
        font-weight: bold;

        &.mustache {
            font-weight: normal;
        }
    }
}

atom-text-editor::shadow pigments-markers::shadow pigments-color-marker.dot,
pigments-color-marker.dot,
pigments-markers::shadow pigments-color-marker.dot {
    transform: translate(-8px, -50%) scale(0.7);
}

.icon-file-directory::before {
    font-size: 14px;
}

atom-panel.tool-panel {
    font-size: 0.88em;
}
